:root{
    --light-blue: #4682b4;
    --grey-blue:  #c2dcf3;

}



body {
    font-family: sans-serif;
    border: solid 3px var(--light-blue);
}

.header {
    font-family: sans-serif;
    background-color: var(--light-blue);
    color: white;

} 

.header h1 {
    font-size: 48px;

}

a {
    text-decoration: none;
}

.carouselp {
    background-color: white;
    color: var(--light-blue);
    font-weight: bold;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.carousleh {
    background-color: var(--light-blue);
    border-radius: 10px;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.list-group-item{
    background-color: var(--light-blue);
}

nav a:hover {
    color: cyan;
}

.background {
    /* height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./img/keyboard.png");
    background-size: contain;
    background-position: center; */
    background-color: var(--light-blue);
}

h2 {
    color: var(--light-blue);
    font-size: 2.5rem;
}


#about-me {
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    flex-wrap: wrap;
    vertical-align: middle;
    border-bottom: solid 3px var(--light-blue);
}

#about-me:hover {
    color: var(--light-blue);
}

#portfolio {
    background-color: var(--grey-blue);
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    flex-wrap: wrap;
    vertical-align: top;
    border-bottom: solid 3px var(--light-blue);
}

.about {
    flex: 1 0 0;
    margin: auto;
}

p {
    display:inline;
    color: var(--light-blue);
    text-align:center;
    font-size: 1.5rem;
    padding-left: 25px;
    padding-right: 25px;
}

#avatar {
    display: inline;
    border: solid 3px var(--light-blue);
    background-color: var(--grey-blue);
    border-radius: 15%;
    /* width: 320px; */
}

p:hover{
    color: var(--light-blue)
}

/* #contact-me {
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    flex-wrap: wrap;
}


#contact-me h2 {
    margin:10 0px;
}

#contact-me ul li {
    display: inline-flex;
    margin-top: 30px;
    margin-bottom:10px;
    margin-left: 147px;
    margin-right: 50px;
}  */

#contact-me ul li a:link {
    color: blue;
    text-decoration: underline;
}

#contact-me ul li a:visited {
    color: purple;
    text-decoration: underline;
}

#contact-me ul li a:active {
    color: red;
}

footer {
    padding: 1%;
    text-align: center;
    color: white;
    background-color: var(--light-blue);
}
/* @media screen and (max-width: 1114px) {
    .background {
        height: 430px;
    }
    
}

@media screen and (max-width: 1114px) {
    .background {
        height: 430px;
    }
    
} */

@media screen and (max-width: 768px) {
    /* .background {
        height: 300px;
    } */
    
    .header {
        width: 100%;
        justify-content: center;
    }

    .header h1 {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-top: 20px;
    }

    .header nav {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    main{
        width: 100%;
    }
    
    #contact-me h2 {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        text-align: center;
    }
    
    #portfolio h2 {
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }

    #portfolio {
        display: block;
        padding: 10px;
        justify-content: center;
    }


    #project-box ul {
        width: 100%;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    #project-box ul li {
        justify-content: center;
        width: 100%;
    }

    /* #contact-me ul li {
        display: inline;
        width: 100%;
        text-align: center;
        justify-content: center;

        margin-top: 5px;
        margin-bottom:10px;
        margin-left: 120px;
        margin-right: 0px;
    }  */
}

@media screen and (max-width: 576px) {
    .header {
        width: 100%;
        justify-content: center;
    }

    .header h1 {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-top: 20px;
    }

    .header nav {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .header nav ul {
        width: 100%;
        Padding: 5px;
        text-align: center;
        justify-content: center;

    }
    
    main{
        width: 100%;
    }
    
    #about-me {
        width: 100%;
        display: grid;
        text-align: center;
        justify-content: center;
    }

    .about {
        justify-content: center;
        text-align: center;
    }

    #contact-me h2 {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        text-align: center;
    }
    
    #portfolio {
        display: block;
        justify-content: center;
    }

    #portfolio h2 {
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }

    #project-box ul {
        width: 100%;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    #project-box ul li {
        width: 100%;
    }

    /* #contact-me ul li {
        display: inline;
        width: 100%;
        text-align: center;
        justify-content: center;

        margin-top: 5px;
        margin-bottom:10px;
        margin-left: 70px;
        margin-right: 0px;
    } */
} 

@media screen and (max-width: 375px) {
    #portfolio {
        display: flex;
        justify-content: center;
    }

    #portfolio h2 {
        display: contents;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }

    #project-box ul {
        width: 100%;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    #project-box ul li {
        position: relative;
        width: 100%;
    }

    /* #contact-me ul li {
        display: flex;
    }  */
} 